
th, td {
  font-size: 18px;
  padding: 10px;
}
th {
  background: #555;
  color: #fff;
}
td {
  background: #eee;
}
a {
  text-decoration: none;
  transition: 0.2s ease;
  color: #3f75c5;
}
td:nth-child(7) > a {
  color: #c22a2a;
}

button {
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}